* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c3a39;
    width: 100%;
  }

  .hamburge-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .hamburge-menu a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }

  .headline {
    background-color: #1c1a19;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    background-image: url('/img/Bg.png');
    background-repeat: no-repeat;
    background-size: 134px;
    background-position: bottom -45px right 0;
  }

  .message {
    display: flex;
    flex-direction: column;
  }

  .message h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #ff6b00;
  }

  .message h1,
  p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .message .title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #fff5e1;
  }

  .message p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    list-style: none;
  }

  .social ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
  }

  .recent-works {
    background: #e5e5e5;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    justify-content: center;
  }

  .recent-works .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    margin-top: 120px;
  }

  .title strong {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
  }

  hr {
    border: 1px solid #212121;
    width: 327px;
  }

  .recent-works .feature-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    margin-top: 80px;
  }

  .feature-img img {
    width: 440px;
    height: 330;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .info .feature-heading {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
  }

  .info p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .info ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    margin-left: 18px;
    gap: 12px;
  }

  .info ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .info button {
    padding: 12px 30px;
    margin-left: 30px;
    gap: 10px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .card-works {
    background-image: url('/img/CardImage.png');
  }

  .card-works h2 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 130px 90px 0 30px;
  }

  .card-works p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 0 30px 0 0;
  }

  .card-works ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    margin-left: 30px;
  }

  .card-works ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .card-works button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 30px;
    background: #ff6b00;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 24px;
    background: #1c1a19;
    background-image: url('/img/About-us.png');
    background-repeat: no-repeat;
    background-position: bottom 1750px right 0;
  }

  .about-me title {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me .title h1 {
    display: flex;
    padding-left: 30px;
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .about-me .title p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .about-me .title button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    margin: 20px 0 0 30px;
  }

  .about-me hr {
    display: flex;
    width: 90%;
    margin: 20px auto;
    margin-top: 200px;
    border: 1px solid rgb(255, 255, 255);
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
    gap: 24px;
    width: 100%;
  }

  .about-me .skill .sub-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .skill .sub-skill .shape {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
  }

  .shape h2 {
    font-family: 'InaiMathi', sans-serif;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .sub-skill ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    list-style: none;
  }

  .sub-skill ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 327px;
    height: 216px;
    margin-bottom: 60px;
    margin-top: 150px;
  }

  .heading h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 330px;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #contact-form input {
    height: 48px;
    width: 327px;
    border: none;
    color: #979493;
    border-bottom: solid 1px #dbd8d7;
  }

  #contact-form textarea {
    height: 114px;
    width: 327px;
    background: #fbf8f7;
    border: none;
    font-size: 15px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
  }

  .submit {
    width: 131px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    margin-left: 100px;
    background: #ff6b00;
    color: #fff;
    border: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .social-link {
    width: 375px;
    height: 72px;
    margin-top: 150px;
    margin-left: 50px;
  }

  .line-2 {
    height: 1px;
    color: #dfe1e6;
  }

  .f-Link {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding-left: 150px;
  }

  .social ul li:hover {
    background-color: #fff5e1;
  }

  .social ul li:enabled {
    background-color: #f55800;
  }

  .social ul li:disabled {
    background-color: #f4f1f0;
  }

  .btn:hover {
    background-color: #fff5e1;
  }

  .btn:enabled {
    background-color: #f55800;
  }

  .btn:disabled {
    background-color: #f4f1f0;
  }

  .submit:hover {
    background-color: #fff5e1;
  }

  .submit:enabled {
    background-color: #f55800;
  }

  .submit:disabled {
    background-color: #f4f1f0;
  }
}
